#contlogin {
    position: absolute;
    left: 586px;
    top: 110px;
    width: 190px;
    height: 150px;
    background-color: rgb(47,79,79);
}
#contFondo {
    position: absolute;
    left: 25px;
    top: 330px;
    width: 800px;
    height: 100px;
    background-color: rgb(64,64,64);
}
#cmdIngresar {
    position: absolute;
    left: 40px;
    top: 100px;
}
#pswClave {
    position: absolute;
    left: 67px;
    top: 48px;
}
#passw {
    position: absolute;
    left: 11px;
    top: 54px;
    width: 53px;
    height: 13px;
    color: rgb(128,128,128);
}
#Nombre {
    position: absolute;
    left: 8px;
    top: 21px;
    width: 44px;
    height: 13px;
    color: rgb(128,128,128);
}
#Texto0 {
    position: absolute;
    left: 0px;
    top: 0px;
}
#contlogo2 {
    position: absolute;
    left: 88px;
    top: 25px;
    width: 150px;
    height: 50px;
    background-color: rgb(0,128,128);
}
#ContLogo1 {
    position: absolute;
    left: 36px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: rgb(64,64,64);
}
#ContBody {
    position: absolute;
    left: 23px;
    top: 21px;
    width: 800px;
    height: 300px;
    background-color: rgb(64,224,208);
}
